<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="container mt-5">
    <br><br><br>
    <h3 class="text-center">Login As</h3>
    <div class="row text-center">
        <div class="col-md-6 col-12">
            <a type="button" href="/teacher-login" class="btn btn-outline-primary "><i class="fa fa-fw fa-user"></i> Teacher</a>
        </div>
        <div class="col-md-6 col-12">
            <a type="button" href="/find-result" class="btn btn-outline-primary "><i class='fas fa-user-graduate'></i> Student</a>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>